/* -----------DROPDOWN MENUS-----------------

.menu-container {
  margin: 10px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.basic-single,
.basic-multi-select,
.order-btn-container {
  width: 350px;
}

.order-btn-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly
} */
